/.DS_Store
/Ref.rtf
/awsPHI.txt
/awsnlp.js
/file:
/fonts
/node_modules
/package-lock.json
/package.json
/sentiment1707134471342.txt
/sentiment1707135024545.txt
/sentiment1707135499960.txt
/sentiment1707140635321.txt
/sentiment_test.js
/test.js
/test2.js
/transcript_1707135499960.txt
/transcript_1707140635321.txt
/trigger.js